/* Stolen from Wouter Swierstra's site. Thanks! */
/* Main settings */
body {
  padding:20px 0 20px 0;
  border:0;
  width:80%;
  max-width:800px;
  margin: 0 auto;
  font-family: Palladio URW, palatino, times, "Times New Roman", serif;
  color: rgb(220,220,220);
  /*background: black;*/
  background: rgb(35,35,35);
  font-size:90%;
}

/* More roomy lists and paragraphs*/
p, dl, ul, ol {
    margin-top: 0;
    line-height: 150%;
}

/* Links */
a {
    color: #27fffc;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}
a:hover {
    color: #276b6b;
    /*text-underline: 1px;*/
    /*text-decoration: underline;*/
}

/* Paragraph settings */
p {
  margin:.4em 0 .8em 0;
  padding:0;
}

h3 {
    letter-spacing: -1px;
    font-weight: normal;
    font-size: 1.5em;
}

/* Header style - mostly for title */
#header {
  clear:both;
  float:left;
  width:100%;
}

#header h2 {
  float: left;
  padding:.4em 15px 15px 15px;
  letter-spacing: -2px;
    font-weight: normal;
  font-size: 3.4em;
}

#header h1 {
  float: right;
  padding:.4em 15px 15px 15px;
  letter-spacing: -2px;
  font-weight: normal;
  font-size: 3.4em;
}

/* Column container */
.colmask {
  position:relative;  /* This fixes the IE7 overflow hidden bug */
  clear:both;
  float:left;
  width:100%;      /* width of whole page */
  overflow:hidden;    /* This chops off any overhanging divs */
}
/* Common column settings */
.colright,
.colmid,
.colleft {
  float:left;
  width:100%;
  position:relative;
}
.col1,
.col2,
.col3 {
  float:left;
  position:relative;
  padding:0 0 1em 0;
  overflow:hidden;
}
/* Left menu settings */
.leftmenu {
  /*background: black;*/
 background: rgb(35,35,35);
}
.leftmenu .colleft {
  right:75%;
}
.leftmenu .col1 {
  width:71%;
  left:102%;
}
.leftmenu .col2 {
  width:21%;
  left:6%;
}

/* Left sidebar styles for headers, list items, and links*/
.col2 h2
{
    letter-spacing: -1.5px;
    font-size: 2em;
    font-weight:normal;
    margin:10px 0px 10px 0px;
}
.col2 ul
{
    list-style: none;
    padding:0px 0px 10px 0px;
}
.col2 li
{
    padding:0px 0px 10px 0px;
}
.col2 a
{
    letter-spacing:-1px;
    font-size:1.5em;
}
#normallink {
    font-size:1.0em;
}
.col2 p
{
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* Footer styles */
.footer {
  clear:both;
  float:left;
  width:100%;
}
.footer p {
  padding:0px 50px 0px 0px;
  text-align: right;
    font-size: 0.75em;
}
