/* Stolen from Wouter Swierstra's site. Thanks! */
/* Main settings */
body {
  padding:20px 0 20px 0;
  border:0;
  width:80%;
  max-width:800px;
  margin: 0 auto;
  font-family: Palladio URW, palatino, times, "Times New Roman", serif;
  color: rgb(220,220,220);
  /*background: black;*/
  background: rgb(35,35,35);
  font-size:90%;
}

/* More roomy lists and paragraphs*/
p, dl, ul, ol {
    margin-top: 0;
    line-height: 150%;
}

/* Links */
a {
    color: #27fffc;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
}
a:hover {
    color: #276b6b;
    /*text-underline: 1px;*/
    /*text-decoration: underline;*/
}

/* Paragraph settings */
p {
  margin:.4em 0 .8em 0;
  padding:0;
}

h3 {
    letter-spacing: -1px;
    font-weight: normal;
    font-size: 1.5em;
}

/* Footer styles */
.footer {
  clear:both;
  float:left;
  width:100%;
}
.footer p {
  padding:0px 50px 0px 0px;
  text-align: right;
    font-size: 0.75em;
}
