<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}} :: {{site.title}}</title>
{% seo title=false %}
    <link rel="stylesheet" href="{{ "/css/swier.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  </head>
  <body>
    <h3>
      <strong>Content:</strong> <a href="/index.html">Home</a>, <a href="/recipes/index.html">Recipes</a>
    </h3>
    <h1>{{ page.title }}</h1>
    {{ content }}
<div class="footer">
  <p>
    Contact: paul at this domain. <a href="https://github.com/toothbrush/toothbrush.github.io/edit/main/{{ page.path }}">Edit page</a>.
    <br />
    Last modified on {{ site.time | date: '%-d-%b-%Y' }}.
  </p>
</div>
  </body>
</html>
