<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/css/swier.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
  <div id="header">
    <h1>paul</h1>
  </div>
  <div class="colmask leftmenu">
  <div class="colleft">
    <div class="col1">
      {{ content }}
    </div>
    <div class="col2">
      <h2>Content</h2>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/recipes/index.html">Recipes</a></li>
      </ul>
      <h2>Contact</h2>
      <p>
        paul at this domain
        <br />
        GPG: <a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0xEAF20AB71D1292C0" id="normallink">0xEAF20AB71D1292C0</a>
      </p>
    </div>
  </div>
</div>
<div class="footer">
  <p>
    This is on Github Pages and i can't figure out how to put a last-modified date here. <a href="https://github.com/toothbrush/denknerd">source</a>.
  </p>
</div>
  </body>
</html>
